<div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h5 class="modal-title">Confirmar eliminación</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    
      <div class="modal-body">
        ¿Está seguro que desea eliminar este elemento?
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btnCancel"> Cancelar </button>
        <button type="button" class="btn btn-danger" id="btnButtonExpense"> Eliminar </button>
      </div>
    </div>
</div>